<table class="front">
	<tr>
		<td class="main">
			<h2 class="portfolio">Portfolios:</h2>
			<%= render 'pages/portfolio_form' %>
			<%= render 'pages/portfolios' %>
		</td>
		<td class="sidebar round">
			<%= render 'pages/user_info' %>
			
		</td>
	</tr>
  	
  </table>